@import "tailwindcss";

@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto-VariableFont_wdth,wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root{
  --primary: #08CB00;
  --pushup: #00b4d8;
  --text-secondary: #9D9D9D;
}

*{
  font-family: "Roboto", sans-serif;
}