@import "tailwindcss";

@font-face {
  font-family: 'Syne';
  src: url('/fonts/Syne-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root{
  --primary: #08CB00;
  --pushup: #00b4d8;
}

*{
  font-family: "Syne", sans-serif;
}